a
{
    color: #212121;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}

p
{
    color: #212121;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}

a:hover
{
    text-decoration: underline;
}

.ongletco
{
    border-top: 8px #4387FD solid;
    border-right: 15px #4387FD solid;
    border-bottom: 8px #4387FD solid;
    border-left: 15px #4387FD solid;
    border-radius: 2px;
    background: #4387FD;
    color: white;
    font-weight: bold;
}


input[type=search] 
{
    width: 550px;
    height:45px;
    border: 1px #E4E4E4 solid;
    border-radius: 50px;
  }

.ongletmid
{
    border-top: 8px #F4F4F4 solid;
    border-right: 15px #F4F4F4 solid;
    border-bottom: 8px #F4F4F4 solid;
    border-left: 15px #F4F4F4 solid;
    border-radius: 2px;
    background: #F4F4F4;
    color: #5F6368
}

.ongletmid:hover .ongletmid
{
    background: #212121,
}

.logo_google
{
    text-align: center

}


.top
{
 font-size: 13px;
}

.bottom
{
    font-size: 12px;
}

.videhaut
{
    width: 15px;
}
.lignehaut
{
    display: flex;
    justify-content: end;
    
}

.videcentre
{
    width: 10px;
}

.lignemilieu
{
    display: flex;
    justify-content: center;
    
}
.lignecentre
{
    display:flex;
    justify-content: center
}

.videbasgauche
{
    width: 20px;
}

.videbasdroite
{
    width: 20px;
}

.Fr
{
    display: flex;
    justify-content: start;
    border-top: 1px #E4E4E4 solid;
background: #F4F4F4;

}

.Fra
{
    color: #5F6368;
}


.lignebasS
{
   
   
    display: flex;
    justify-content: start;
    border-top: 1px #E4E4E4 solid;
    background: #F4F4F4;
}

.lignebasE
{
    
    display: flex;
    justify-content: end;
    border-top: 1px #E4E4E4 solid;
    background: #F4F4F4;
}

.basmilieu
{
    width: 54.2%;
    border-top: 1px #E4E4E4 solid;
    background: #F4F4F4;
}

.lignebasF
{
    display: flex;
    justify-content: center;
}
.foot
{
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
}

